<div class="encabezado">
    <h2>Adopta un perro</h2>
</div>

<section class="contenedor seccion">
    <ul class="lista-perros clearfix">
    <% @dogs.each do |dog| %>
        <li>
            <div>
                <%= link_to image_tag(dog.picture, size: '200x200'), dog_path(dog) %> 
                <h3><%= dog.name %></h3>
            </div>
        </li>
    <% end %>
    </ul>
</section>