<div class="encabezado">
    <h2>Adopta un perro</h2>
</div>

<% if staff_signed_in? %>
    <%= link_to dogs_new_path, :class=> "btn btn-info" do %>
        <i class="fas fa-plus-square"></i>
        <span>Ingresar nuevo perro</span></a>
    <% end %>
<% end %>

<section class="contenedor seccion">
    <ul class="lista-perros clearfix">
    <% @dogs.each do |dog| %>
        <li>
            <div>
                <%= link_to image_tag(dog.picture, width: 200), dog_path(dog) %> 
                <h3><%= dog.name %></h3>
            </div>
        </li>
    <% end %>
    </ul>
</section>
