<div class="encabezado">
  <h1>Panel de administración</h1>
</div>

<div class="welcome">
  <h2>Bienvenido/a, <%= current_staff.name %></h2>
</div>


<div class="contenedor centrar">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, quo ducimus officiis recusandae 
  earum architecto excepturi deserunt, aperiam laborum, tempora amet quas eius maiores laboriosam labore!
  Commodi exercitationem id esse?</p>
 </div>