<% content_for :form_errors do %>
  <% if object.errors.any? %>
    <p>
     El formulario presenta los siguientes errores:
    </p>

    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <%end%>
<% end %>