<div class="encabezado">
  <h2>Acerca de nosotros</h2>
</div>

<section class="contenedor">
  <div class="aboutus">
    <div class="video"">
      <iframe width="420" height="345" src="https://www.youtube.com/embed/5qap5aO4i9A">
      </iframe>
    </div>
    <div class="info">
      <h3>¿Quiénes somos?</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, alias. 
      Laudantium debitis, praesentium tempore iure minus aspernatur ad, nobis asperiores 
      itaque obcaecati mollitia voluptates suscipit assumenda molestiae soluta, voluptas quos.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit vero sed voluptatum 
      perspiciatis ratione obcaecati, odio accusamus cum quibusdam doloremque ducimus eius quasi 
      provident illum fugiat quisquam eligendi modi corrupti.</p>
    </div>
  </div>
  <div class="encabezado">
    <h3>¿Que nos representa?</h2>
  </div>
  <div class="iconos-info">
    <div class="icono">
      <img src="<%= image_url('vision.png') %>" alt="vision">
      <h3>Visión</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
    </div>   
    <div class="icono">
      <img src="<%= image_url('mision.png') %>" alt="mision">
      <h3>Misión</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
    </div>
    <div class="icono">
      <img src="<%= image_url('valores.png') %>" alt="valores">
      <h3>Valores</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad commodi minima 
      aliquid optio suscipit non? Aut neque rem repellat, eveniet distinctio quia 
      dolores quas fugiat, animi in libero, asperiores fugit!</p>
    </div>
  </div>
</section>