<header class="site-header">
  <div class="hero">
    <div class="contenido-header">
      <nav class="redes-sociales">
            <%= link_to "#" do %>
              <i class="fab fa-facebook-square"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-twitter-square"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
            <%= link_to "#" do %>
              <i class="fab fa-youtube"></i>
            <% end %>
      </nav>
      <div class="nombre-sito">
        <h1>Refugio de perros</h1>
        <div class="slogan">
          <p>Un lugar para los perros sin hogar</p>
        </div>
      </div>
    </div>
  </div>
</header>