<div class="contenedor centrar">
  <h1>Gracias por contactarnos.</h1>


  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut voluptatem fuga nesciunt sequi 
  adipisci maxime repellat, consectetur sit exercitationem pariatur deserunt dolorem molestias vel unde 
  excepturi quasi ab veritatis alias.</p>

</div>  