<!-- Topbar -->
<nav class="redes-sociales">
  <%= link_to "#" do %>
    <i class="fab fa-facebook-square"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fab fa-twitter-square"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fab fa-instagram"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fab fa-youtube"></i>
  <% end %>
</nav>
<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Quienes somos</a></li>
    <li><a href="#">Adopta</a></li>
    <li><a href="#">Contacto</a></li>
  </ul>
</nav>
<!-- End of Topbar -->